*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#minicircle{
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelemup{
    transform: translateY(105%);
}

.boundingelemdown{
    transform: translateY(-100%);
}

#main{
    width: 100%;
}

#hero{
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
    position: relative;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 25px;
    color: white;
}

#nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#nav h4{
    cursor: pointer;
}

#heading{
    margin-top: 35px;

}

#heading h1{
    line-height: .95;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: .6;
    margin-left: 25px;
    letter-spacing: 3px;
}

#heading #second-h1{
    margin-left: 12vw;
    margin-bottom: 15px;
}

#heading .blocktext{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.blocktext h5{
    text-transform: uppercase;
    font-size: 17px;
    text-align: right;
}

#availability{
    margin-top:200px;
    padding-right: 3vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#availability h5{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: right;
}

#hero-footer{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

#hero-footer a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

#iconset{
    display: flex;
    gap: 5px;
    cursor: pointer;
}

#hero-footer .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #888;
    border-radius: 50%;
}

#second{
    color: white;
    padding-top: 150px;
    background-color: black;
    width: 100%;
    height: 100%;
    padding-right: 10vw;
    padding-left: 3vw;
}

@media (max-width : 1024px) {
    #second{
        padding-right: 3vw;
    }
}

.elem{
    width: 100%;
    padding: 4vw 0vw;
    border-top: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.elem h1{
    opacity: .6;
    text-transform: uppercase;
    font-size: 6.8vw;
}

.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    display: none;
    position: absolute;
    z-index: 999;
    height: 150%;
    border-radius: 5px;
}

#about{
    color: white;
    padding: 9vw 5vw;
    padding-left: 23vw;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
    letter-spacing: .8px;
}

#textabout{
    width: 30rem;
}

#textabout h5{
    opacity: .6;
    margin-bottom: 6px;
}

#textabout p{
    font-size: 17.2px;
    line-height: 1.6;
    margin-bottom: 30px;
}

#textabout a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: .4rem 1.1rem;
    border-radius: 30px;
    font-size: .9rem;
}

#about img{
    width: 224px;
    height: 224px;
    margin-bottom: 110px;
}

#subscribe{
    color: white;
    padding: 0px 55px;
    background-color: black;
    letter-spacing: .2px;
    padding-bottom: 6vw;
}

#subscribe h5{
    opacity: 0.6;
    margin-bottom: 3px;
}

#subscribe i{
    margin-left: 8px;
}

#footer{
    /* letter-spacing: .8px; */
    padding: 2rem 3.4rem;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:  black;
}

#footer #footerleft{
    display: flex;
    gap: 2.1rem;
}

#footer #footerright{
    display: flex;
    gap: 3.4rem;
}

#footer #footerright a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

